<div class="app-header">

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link " routerLink="/bodyParts/videoModulePeople" href="#">Count People in Video</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/bodyParts/videoModuleCar" href="#">Count Cars in Video</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/bodyParts/videoModuleUmbrella">Count Umbrellas in Video</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="/countPeoplePic">Count People in Picture</a>
    </li>
  </ul>

</div>