<div class="app-header">

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link " routerLink="/bodyParts/countPeopleVideo" href="#">Count People in Video</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/bodyParts/countCarsVideo" href="#">Count Cars in Video</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/bodyParts/countUmrellasVideo">Count Umbrellas in Video</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " routerLink="/countPeoplePic">Count People in Picture</a>
    </li>
  </ul>

</div>