<div class="app-footer wrapper container">

  <div class="box inwrapper container">
    <div class="box ">
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
        dolore magna aliquyam</p>
    </div>
    <div class="box inwrapper container">
      <div class="box grid-container ">
        <div class="itemPic gone"> <img img id="clickable" onclick="window.location.href= 'https://www.ecosia.org/'"
            class="sopraimg" src="/assets/florian-uhlmann.jpg" alt="Bild Florian"> </div>
        <div class="itemIcon"><img img id="clickable" onclick="window.location.href='https://www.soprasteria.de/de'"
            class="gitimg" src="\assets\Octicons-mark-github.svg" alt="GitHub-Mark"></div>
        <div class="itemName">Florian Uhlmann</div>

      </div>

      <div class="box grid-container profil">
        <div class="itemPic gone"> <img img id="clickable" onclick="window.location.href= 'https://www.google.de/'"
            class="sopraimg" src="/assets/rob.png" alt="Bild Robert"> </div>
        <div class="itemIcon"><img img id="clickable" onclick="window.location.href='https://www.soprasteria.de/de'"
            class="gitimg" src="\assets\Octicons-mark-github.svg" alt="GitHub-Mark"></div>
        <div class="itemName">Robert Schultheiß</div>
      </div>


    </div>

  </div>
  <div class="container4 col-s-12 picWrapper" >
    
      <img id="clickable" onclick="window.location.href='https://www.soprasteria.de/de'" class="sopraimg box b"
        src="/assets/SOPRASTERIA_logo_RVB_exe.png" alt="Sopra Steria Logo">
    
  </div>
</div>
