<div>Ich bin der TExt </div>
<div style="text-align:center">
  
  <h1>Tensorflow.js Real Time Object Detection</h1>
  
  <video hidden id="vid" width="300" height="300"></video>
  <canvas id="canvas"></canvas>

</div>
<p>Car(s) counted {{counterCar}}</p>

<p>Person(s) : {{counterPerson}}</p>
<p>Umbrellas : {{counterUmbrella}}</p>

<br>
<app-video-count-people></app-video-count-people>
<app-video-count-car [countCars]="counterCar"></app-video-count-car>
<app-video-count-umbrella></app-video-count-umbrella>
