/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";


*{
    font-family: tahoma !important;
}

.app-header {background-color: lightgray;}

.app-body {background-color: lightgray;}

.app-footer {background-color: lightgray;
    display: flex;
    
    margin-top: auto;

}